@font-face{
  font-family: kalnia;
 src: url(../font/Kalnia-kopi/Kalnia-VariableFont_wdth\,wght.ttf);
 }


 *{
 margin: 0;
 padding: 0;
 }
 .nav-index {
 background-color: #000000;
 }

 body {
 font-family: 'Kalnia', serif;
 background-color: #212529;
 color: #fff;
 overflow: hidden;
 position: relative;
  }
 .hero {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
 height: 90vh;
 padding: 2rem;
  }
 h1{
 font-family: kalnia;
 -webkit-text-stroke: 3px #F6F4EF;
 font-weight: 600;
 position: absolute;
 top: 15%;
 left: 50%;
 transform: translate(-50%, -50%);
 color: #000000;
 font-size: 48px;
 z-index: 10;
 border-bottom: 1px solid #F6F4EF;
 }
 p{
 font-family: kalnia;
 font-weight: 300;
 color: #ffff;
 font-size: 14px;
 text-align: right;
 }
 .info{
  z-index: 10;
  display: flex;
  top: 18%;
  position: absolute;
  gap: 55px;
  
 }
 @media(min-width:800px){


 h1{
  font-family: kalnia;
  -webkit-text-stroke: 3px #F6F4EF;
  font-weight: 600;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  font-size: 150px;
  z-index: 10;
  border-bottom: 1px solid #F6F4EF;
  }
  .info{
    z-index: 10;
    display: flex;
    justify-content: space-around;
    top: 32%;
    position: absolute;
    margin-top: 10px;
   }
 p{
 font-family: kalnia;
 font-weight: 300;
 color: #F6F4EF;
 font-size: 35px;
 text-align: right;
 margin-right: 100px;
 z-index: 10;
 }
 .hero {
 flex-direction: column;
 text-align: center;
  }

 /* .hero .info {
 text-align: left;
 font-size: 1.2rem;
 line-height: 2rem;
 padding-right: 5rem;
  } */
 /* .hero .title {
 font-size: 2.5rem;
  } */
 /* .lottie-bg {
 width: 100%;
 height: 100%;
 object-fit: cover;
 transform: rotate(0deg);
 margin-left: 0px;
  } */
 }